@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.cases {
  padding-top: $gap;
  padding-bottom: $gap;
  &__container {
    @extend %container;
  }
  &__content {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.4fr 2fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas: "item1 item1 item3 item3 item4"
                         "item2 item2 item3 item3 item4"
                         "item5 item6 item6 item7 item7"
                         ;
  }
  &__item1 {
    @extend %cases-item;
    border-radius: 12px 0px 0px 0px;
    grid-area: item1;
  }
  &__item2 {
    @extend %cases-item;
    grid-area: item2;
    
  }
  &__item3 {
    @extend %cases-item;
    grid-area: item3;
    
  }
  &__item4 {
    border-radius: 0px 12px 0px 0px;
    grid-area: item4;
    @extend %cases-item;
    
  }
  &__item5 {
    @extend %cases-item;
    border-radius: 0px 0px 0px 12px;
    grid-area: item5;
    
  }
  &__item6 {
    @extend %cases-item;
    grid-area: item6;
    
  }
  &__item7 {
    @extend %cases-item;
    border-radius: 0px 0px 12px 0px;
    grid-area: item7;
    
  }
  &__item-header {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-accent;
  }
  &__item-title {
    font-size: 24px;
    line-height: 28px;
    color: $color-primary-soft;
  }
  &__item-company {
    font-size: 18px;
    line-height: 26px;
    color: $color-gray-text;
  }
}