@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.cases {
  padding-top: $gap;
  padding-bottom: $gap;
  &__container {
    @extend %container;
  }
  &__content {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1.5fr 0.4fr 2fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas: "item1 item1 item3 item3 item4"
                         "item2 item2 item3 item3 item4"
                         "item5 item6 item6 item7 item7"
                         ;
  }
  &__item1 {
    border-radius: 12px 0px 0px 0px;
    padding: $gap;
    background-color: $color-gray-bg;
    border: 1px solid $color-white;
    grid-area: item1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &__item2 {
    padding: $gap;
    background-color: $color-gray-bg;
    border: 1px solid $color-white;
    grid-area: item2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $gap;
    
  }
  &__item3 {
    padding: $gap;
    background-color: $color-gray-bg;
    border: 1px solid $color-white;
    grid-area: item3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $gap;
    
  }
  &__item4 {
    border-radius: 0px 12px 0px 0px;
    padding: $gap;
    background-color: $color-gray-bg;
    border: 1px solid $color-white;
    grid-area: item4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $gap;
    
  }
  &__item5 {
    padding: $gap;
    background-color: $color-gray-bg;
    border: 1px solid $color-white;
    grid-area: item5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $gap;
    border-radius: 0px 0px 0px 12px;
    
  }
  &__item6 {
    padding: $gap;
    background-color: $color-gray-bg;
    border: 1px solid $color-white;
    grid-area: item6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $gap;
    
  }
  &__item7 {
    padding: $gap;
    background-color: $color-gray-bg;
    border: 1px solid $color-white;
    grid-area: item7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $gap;
    border-radius: 0px 0px 12px 0px;
    
  }
  &__item-header {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-accent;
  }
  &__item-title {
    font-size: 24px;
    line-height: 28px;
    color: $color-primary-soft;
  }
  &__item-company {
    font-size: 18px;
    line-height: 26px;
    color: $color-gray-text;
  }
}