@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.clients {
  padding-bottom: $gap;
  &__container {
  }
  &__title {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-primary;
  }
  &__content {
    display: grid;
    line-height: 0.2;
    @include md-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "hillel wannabiz" 
                           "tapgerine dlook" 
                           "ecoleasing clikky" 
                           "orengear infatek" 
                           "ultimatecard artprint" 
                           "citypark addtelligent" ;
    }
  }
  
  &__content-image {
    width: 100%;
  }
}
.hillel-item {
  @include md {
    grid-area: hillel;
  }
}
.wannabiz-item {
  @include md {

    grid-area: wannabiz;
  }
}

.tapgerine-item {
  @include md {
    grid-area: tapgerine;
  }
}
.dlook-item {
  @include md {

    grid-area: dlook;
  }
}
.orangear-item {
  @include md {

    grid-area: orengear;
  }
}
.addtelligent-item {
  @include md {

    grid-area: addtelligent;
  }
}
.clikky-item {
  @include md {

    grid-area: clikky;
  }
}
.ecoleasing-item {
  @include md {

    grid-area: ecoleasing;
  }
}
.infatek-item {
  @include md {

    grid-area: infatek;
  }
}
.citypark-item {
  @include md {
    grid-area: citypark;
  }
}
.artprint-item {
  @include md {

    grid-area: artprint;
  }
}
.ultimatecard-item {
  @include md {

    grid-area: ultimatecard;
  }
}