@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.clients {
  padding-bottom: $gap;
  &__container {
  }
  &__title {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-primary;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    line-height: 0.2;
  }
  &__content-image {
  }
}