@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.clients {
  padding-bottom: $gap;
  &__container {
  }
  &__title {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-primary;
  }
  &__content {
    display: grid;
    line-height: 0.2;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    @include md-min {
    }
    @include md {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas: "hillel wannabiz" 
                           "tapgerine dlook" 
                           "ecoleasing clikky" 
                           "orengear infatek" 
                           "ltimatecard artprint" 
                           "citypark addtelligent" ;
    }
  }
  .hillel-item {
    grid-area: hillel;
  }
  .wannabiz-item {
    grid-area: wannabiz;
  }
  
  .tapgerine-item {
    grid-area: tapgerine;
  }
  .dlook-item {
    grid-area: dlook;
  }
  .orangear-item {
    grid-area: orengear;
  }
  .addtelligent-item {
    grid-area: addtelligent;
  }
  .clikky-item {
    grid-area: clikky;
  }
  .ecoleasing-item {
    grid-area: ecoleasing;
  }
  .infatek-item {
    grid-area: infatek;
  }
  .citypark-item {
    grid-area: citypark;
  }
  .artprint-item {
    grid-area: artprint;
  }
  .ultimatecard-item {
    grid-area: ultimatecard;
  }
  &__content-image {
    width: 100%;
  }
}