@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.contacts-header {

  background-color: $color-white;

  &__grid {
    position: relative;
    display: grid;

    @extend %container;
    gap: $gap;
    grid-template-columns: auto 1fr;
    @include sm-min {
      padding-top: 50px;

      grid-template-areas: "logo actions" "logo menu";
    }
    @include sm {
      padding-top: $gap;

      grid-template-areas: "actions actions" "logo menu";
    }
  }

  &__logo {
    grid-area: logo;
    display: flex;
    align-items: flex-end;
  }

  &__menu {
    grid-area: menu;
  }

  &__actions {
    grid-area: actions;
  }
  &__logo-image {
    width: 100%;
  }
}
