@use "../presets" as *;

%container {
  max-width: $ul;
  margin-right: auto;
  margin-left: auto;
  padding-right: $gap;
  padding-left: $gap;
}
%cases-item {
  padding: $gap;
    background-color: $color-gray-bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: $gap;
    cursor: pointer;
}

%text-liner-gradient {
  background: linear-gradient($text-gradient);
  -webkit-background-clip: text;
          background-clip: text;

  -webkit-text-fill-color: transparent;
          text-fill-color: transparent;
}
