@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.help {
  margin-top: 85px;
  padding-bottom: 80px;
  &__container {
    @extend %container;
  }
  &__content {
    display: flex;
    gap: $gap-lg;
    justify-content: space-evenly;
    align-items: center;
    @include sm {
  flex-direction: column;
    }
  }
  &__contacts {
    font-size: 21px;
    line-height: 30px;
    @include sm-min {
      width: 412px;
    }
    @include sm {
      width: 323px;
    }
   
    
  }
  &__contacts-adress {
    padding-left: 5px;
    
    padding-top: $gap;
    padding-bottom: 16px;
    border-bottom: 4px solid #E6E6F0;
  }
  &__contacts-adress-link {
    color: $color-primary;
  }
  &__contacts-phone {
    padding-left: 5px;
    padding-top: $gap-lg;
    padding-bottom: $gap;
  }
  &__contacts-phone-link {
    color: $color-primary-alt;

  }
  &__contacts-email {
    padding-left: 5px;
    padding-bottom: $gap-lg;
    border-bottom: 4px solid #E6E6F0;

  }
  &__contacts-email-link {
    color: $color-active;

  }
  &__contacts-facebook {
    padding-left: 5px;
    display: flex;
    align-items: center;
    gap: $gap-sm;
    padding-top: $gap;
    padding-bottom: $gap;
  }
  &__contacts-facebook-link {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-active;

  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: $gap;
    max-width: 527px;
    padding: $gap;
    background-color: $color-gray-bg;
    border-radius: 8px;
  }
}
.form {
   &__title {
  font-size: 32px;
  line-height: 38px;
  background: linear-gradient($text-gradient2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
 }
&__title-secondary {
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-gray-text;
}

&__button {
  margin: 0 auto;
}
}
input {
  border-radius: 8px;
  padding: $gap-sm;
  width: 100%;
  border: none;
  outline: none;
  
 
}
input:focus {
  border: 2px solid $color-accent;
}
textarea {
  padding-top: $gap-sm;
  padding-left: $gap-sm;
  display: block;
  height: 180px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  resize: none;
}
textarea:focus {
  border: 2px solid $color-accent;
}